{% extends 'base/general.html' %}
{% block title %}Jaguarete Kaa - Sobre Nosotros{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-6 float-left" style="text-align: justify;">
		<h2 style="text-align: center;">Sobre Nosotros</h2>
		<p>Somos una tienda de computacion con amplia experiencia en el rubro,
      con una trayectoria de 13 años en la venta de todo tipo de productos para computacion 
      y armado de computadoras con envios a todo el pais
      Contamos con un servicio técnico especializado en el armado de computadoras a costos realmente competitivos en el mercado.
			Lo asesoramos en la compra de las partes y piezas necesarias que sean las más convenientes para su necesidad. 
			Dependiendo de la configuración, usualmente en 48 hs está lista para que comience a disfrutarla.
			Realizamos el montaje de computadoras de escritorio en gabinetes de todo tamaño, dependiendo del espacio que disponga en su hogar, 
			oficina o empresa. Nuestro servicio de armado de computadores puede incluir a su pedido, 
			la configuración completa de la PC, venta e instalación de sistemas operativos y software. Para mas informacion
			contactenos o visite nuestro local.
		</p>
	</div>
	<div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4 mb-5">
		<img src="https://images.ole.com.ar/2021/01/22/LSpcCMae5_1256x620__1.jpg" class="img-fluid" alt=" ">
	</div>
</div>
<div id="googleMap" style="width:100%;height:400px;margin:inherit;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>
{% endblock %}